<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background: url('/images/friends.png');
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0;
      padding: 0;
      
    }
    .signup-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 80vh;
    }

    

    form > * {
      margin: 10px 0;
    }

    h1 {
      margin: 0;
      color: #333;
  }

    form {

      background-color: rgba(255, 255, 255, 0.8);
      padding: 80px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 70%;
      margin: 0 auto;
    }

    .form-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    input {
      width: 60%;
      padding: 12px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      color: rgb(71, 72, 72);
    }

    button {
      background-color: #f4a033;
      color: #fff;
      padding: 13px 30px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 64%;
      font-size: 18px;
    }


    button:hover {
      background-color: rgb(220, 142, 25);
    }

    #error-message-container {
      color: red;
      margin-top: 15px;
      font-size: 16px;
    }

    a {
      display: block;
      margin-top: 15px;
      color: #007BFF;
      text-decoration: none;
      font-size: 16px;
    }

    a:hover {
      text-decoration: underline;
    }

    @media (max-width: 600px) {
      .signup-container {
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <div class="signup-container">
    <div>
      <a href="/" style="margin: 0px;">
        <img src="/images/logo tm.png" alt="logo image">
      </a>
    </div>
    <div>
      <form action="/usersignup" method="POST" id="signup-form">
        <div><span class="redstar" style="color: red;">*</span><input type="text" id="name" name="name"
            placeholder="Name" required></div>
        <div><span class="redstar" style="color: red;">*</span><input type="email" id="email" name="email"
            placeholder="Email" required></div>
        <div><span class="redstar" style="color: red;">*</span><input type="password" id="password" name="password"
            placeholder="Password" required></div>
        {{!-- <div><span class="redstar" style="color: red;">*</span><input type="password" id="confirmPassword"
            name="confirmPassword" placeholder="Confirm Password" required></div> --}}

        <div><span class="redstar" style="color: red;">*</span><input type="tel" id="mobileNumber" name="mobileNumber"
            pattern="[0-9]{10}" placeholder="Mobile" required></div>
        <div><span class="redstar" style="color: red;">*</span><input type="text" id="addressline1" name="addressline1"
            placeholder="Address line 1" required></div>
        <div><input type="text" id="addressline2" name="addressline2" placeholder="Address line 2 (optional)"></div>
        <div><input type="text" id="landmark" name="landmark" placeholder="Landmark (optional)"></div>

        <div class="form-row">
          <div>
            <span class="redstar" style="color: red;">*</span>
            <input type="text" id="zipCode" name="zipCode" placeholder="Zipcode" required>
          </div>
          <div>
            <span class="redstar" style="color: red;">*</span>
            <input type="text" id="city" name="city" placeholder="City" required>
          </div>
        </div>

        <div class="form-row">

          <div>
            <span class="redstar" style="color: red;">*</span>
            <input type="text" id="state" name="state" placeholder="State" required>
          </div>
          <div>
            <span class="redstar" style="color: red;">*</span>
            <input type="text" id="country" name="country" placeholder="Country" required>
          </div>
        </div>


        <button type="submit">Sign Up</button>
        <a href="/login">Already a user? Sign in</a>
        <a href="/">or Go to homepage</a>
      </form>
    </div>

  </div>


  <div id="error-message-container"></div>

  <script>
    const signupForm = document.getElementById('signup-form');
    signupForm.addEventListener('submit', async function (event) {
      event.preventDefault();

      const name = document.getElementById('name').value;
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      const city = document.getElementById('city').value;
      const state = document.getElementById('state').value;
      const zipCode = document.getElementById('zipCode').value;
      const landmark = document.getElementById('landmark').value;
      const mobileNumber = document.getElementById('mobileNumber').value;
      const addressLine1 = document.getElementById('addressline1').value;
      const addressLine2 = document.getElementById('addressline2').value;

      const userData = {
        name,
        email,
        password,
        address: {
          line1: addressLine1,
          line2: addressLine2,
          city,
          state,
          zipCode,
          landmark,
        },
        mobileNumber,
      };

      try {
        const response = await fetch('/usersignup', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(userData),
        });

        if (response.status === 200) {
          console.log('User registered successfully');
        } else {
          console.error('User not registered successfully');
        }
      } catch (error) {
        console.error(error);
      }
    });

  </script>
  <script src="/js/scripts.js"></script>
</body>

</html>