

<nav style="position: fixed;
            margin-top:100px;
            left: 0;
            right: 0;
            z-index: 1000;">

    <div class="menu">
        <a href="/products/Bagpacks">Bagpacks</a>
        <a href="/products/Shoes">Shoes</a>
        {{!-- <a href="/products/Sleeping Bags">Sleeping Bags</a> --}}
        <a href="/products/Tents">Tents</a>
        <a href="/products/Sunglasses">Sunglasses</a>
        <a href="/products/Trolley">Trolley</a>
        <a href="/products/Accessories">Accessories</a>


    </div>
</nav>
