     <footer>
        <div class="footer">
            <div class="row">
            <a href="#"><img style="width: 30px; height:30px;" src="./images/fb.png" alt="facebook icon"></a>
            <a href="#"><img style="width: 30px; height:30px;" src="./images/insta.png" alt="instagram icon"></a>
            <a href="#"><img style="width: 30px; height:30px;" src="./images/x.png" alt="twitter icon"></a>
          

            </div>
            
            <div class="row">
            <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            </ul>
            </div>
            
            <div class="row">
            Travel Mate | Copyright &copy;  <script>document.write(new Date().getFullYear());</script> 
            Travel Mate - All rights reserved || Developed and Designed By <b>Sarika</b>, <b>Samiksha</b> and <b>Drishti</b> 
            </div>
            </div>
    </footer>