/* ------------------nav--------------- */

nav {
    flex-direction: row;
    justify-content: space-around;
    opacity: 1;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 5%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  } 
  
   nav a {
    margin: 1rem 2rem;
    font-size: 1.6rem;
    color: #000;
  }
  
  .herocap {
    padding-top: 13%;
    font-size: 4.5rem;
    max-width: 70%;
    color: #13131a;
    padding-left: 10%;
    /* padding-bottom: 0.5rem; */
  }
  
.menu a {
    position: relative;
    text-decoration: none;
  }
  
  .menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #cc501b;
    transition: width 0.4s cubic-bezier(0.25, 1, 1, 1);
  }
  
  .menu a:hover {
    color: #cc501b;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .menu a:hover::before {
      left: 0;
  
      right: auto;
      width: 100%;
    }
  }


@media (max-width: 768px) {
            nav{
                flex-direction: column;
                padding: 1rem 0;
            }
            .herocap{
                padding-top: 20%;
                font-size: 3rem;
                padding-left: 0;
            }
            .menu a{
                margin: 1rem 0;
            }


        }
  